@charset "utf-8";

/************************************************
Author :  Gu ji yeon 
Version : AEGIS
Date : 2013-12-20
*************************************************/

/* Reset */ 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0;  border:0; outline:0;vertical-align:baseline; background:transparent;}/*font-size:100%*/
body {line-height:1; font-family:'돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana;font-size:12px;-webkit-text-size-adjust:none; color:#666} 
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section, address {display:block;} 
ul,ol,li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
a {margin:0; padding:0;color:#666;font-size:100%; vertical-align:baseline;text-decoration:none;background:transparent;}
ins {background-color:#ff9; color:#000; text-decoration:none;}
mark {background-color:#ff9; color:#000; font-style:normal; font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
table {border-collapse:collapse; border-spacing:0;}
body,td{word-break:break-all;font-weight:normal}
hr {display:none;}
input, select, img {vertical-align:middle;}
img {border:0 none; margin:0;}
em, address {font-style:normal;}
label {display:inline-block;vertical-align:middle;}
textarea {resize:none;font-size:12px;color:#666;margin:0;padding:0;text-align:left;}
button {margin:0;font-family:'돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana;cursor:pointer;border:0 none; background:none;} 
input, select {margin:0;font-size:12px;color:#666;}
select{font-size:12px;letter-spacing:normal;border:1px solid #b9b9b9;display:inline-block;vertical-align:middle;} 
legend, caption{position:absolute; left:-5000px; line-height:0px;} 

.blind{clear:both;position:absolute;overflow:hidden;text-indent:-99999px}  